<div id="error_window" class="alert alert-danger hidden">
<table border=0>
  <tr><td>
	<strong>
	<div id="error_msg"></div>
	</strong>
  </td><td>
	<button id="close_ctrl" class="btn btn-danger"><font id="ok_btn" class="lang"></font></button>
  </td></tr>
</table>
</div>
