<div id="game_window" class="gameWindow hidden container" style="width: 350px">

<div id="error_window" style="display:none">
	<div class="alert alert-danger">
	<strong><font id="error_message"></font></strong>
	<button id="error_ok_ctrl" class="btn btn-danger"><font id="error_ok_btn" class="lang"></font></button>
	</div>
</div>

  <font id="opponent_name" class="lang"></font> <font id="opponentName"></font>
  <strong><font id="turnTimer" color=red></font></strong>

  <table id="gameField" class="gameField" border=1>
	<tr>
	<td id="cell00">&nbsp;</td>
	<td id="cell10">&nbsp;</td>
	<td id="cell20">&nbsp;</td>
	</tr>
	<tr>
	<td id="cell01">&nbsp;</td>
	<td id="cell11">&nbsp;</td>
	<td id="cell21">&nbsp;</td>
	</tr>
	<tr>
	<td id="cell02">&nbsp;</td>
	<td id="cell12">&nbsp;</td>
	<td id="cell22">&nbsp;</td>
	</tr>
  </table>

  <div class="alert alert-info">
	<strong>
	<font id="game_status_your_turn" class="lang gameStatus"></font>
	<font id="game_status_opponents_turn" class="lang gameStatus"></font>
	<font id="game_status_you_win" class="lang gameStatus"></font>
	<font id="game_status_opponent_win" class="lang gameStatus"></font>
	<font id="game_status_draw" class="lang gameStatus"></font>
	<font id="game_status_you_surrender" class="lang gameStatus"></font>
	<font id="game_status_opponent_surrender" class="lang gameStatus"></font>
	<font id="game_status_you_timeout" class="lang gameStatus"></font>
	<font id="game_status_opponent_timeout" class="lang gameStatus"></font>
	</strong>
  </div>

  <button id="surrender_ctrl" class="btn btn-primary"><font id="surrender_btn" class="lang"></font></button>
  <div id="game_over" class="hidden">
	<button id="invite_replay_ctrl" class="btn btn-primary"><font id="invite_replay_btn" class="lang"></font></button>
	<button id="return_user_list_ctrl" class="btn btn-primary"><font id="return_user_list_btn" class="lang"></font></button>
  </div>

</div>