<div class="modal fade" id="invite_window" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" id="invite_close_ctrl" class="close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><font id="invite_got" class="lang"></font></h4>
      </div>
      <div id="error_window_prepend" class="modal-body" style="padding-bottom: 0px">
        <font id="invite_user_name"></font> <font id="invite_got" class="lang"></font>
<!-- само уберется
        <div id="invite_target_user_logged_out_alert" class="alert alert-warning">
        <strong>invite_target_user_logged_out</strong>
        </div>
-->
      </div>
      <div class="modal-footer">
		<button type="button" id="invite_accept_ctrl" class="btn btn-primary"><font id="invite_accept_btn" class="lang"></font></button>
		<button type="button" id="invite_reject_ctrl" class="btn btn-default"><font id="invite_reject_btn" class="lang"></font></button>
      </div>
    </div>
  </div>
</div>