<div class="modal fade" id="invite_send_window" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" id="close_ctrl"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><font id="invite_sent" class="lang"></font></h4>
      </div>
      <div id="error_window_prepend" class="modal-body" style="padding-bottom: 0px">
        <font id="invite_sent" class="lang"></font> <font id="invite_sent_user_name"></font>
        <div id="invite_cancelling_alert" class="alert alert-warning">
        <strong><font id="invite_cancelling" class="lang text-warning"></font></strong>
        </div>
        <div id="invite_rejected_alert" class="alert alert-warning">
        <strong><font id="invite_rejected" class="lang"></font></strong>
        </div>
        <div id="invite_target_user_logged_out_alert" class="alert alert-warning">
        <strong><font id="invite_target_user_logged_out" class="lang"></font></strong>
        </div>
      </div>
      <div class="modal-footer">
		<button type="button" style="float:left" id="invite_cancel_ctrl" class="btn btn-primary"><font id="invite_cancel_btn" class="lang"></font></button>
		<button type="button" id="return_ctrl" class="btn btn-primary hidden"><font id="return_btn" class="lang"></font></button>
      </div>
    </div>
  </div>
</div>