<li class="dropdown" id="language_selector_window">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><font id="languageSelected"></font> <span class="caret"></span></a>
	<ul id="dropDown" class="dropdown-menu" role="menu">
	</ul>
</li>