<nav id="main_window" class="navbar navbar-inverse navbar-static-top" style="margin-bottom:5px">
	<div class="container-fluid">
		<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand">X0@DenisB / v2</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav navbar-right">
			<li style="margin-right: 20px">
			<p class="navbar-text navbar-right" id="navbar_user_name"></p>
			</li>
			<li id="language_selector_window_after">
<button type="button" id="logout_ctrl" class="btn btn-warning lang navbar-btn"><font id="logout_btn" class="lang">Logout</font></button>	
			</li>
		</ul>
		</div>
	</div>
</nav>