<div id="registration_window" class="gameWindow hidden container">
	<form id=form_registration method=post class="form-signin">
	<h3 class="form-signin-heading"><font id="user_reg_hdr" class="lang"></font></h3>
	<input type="text" id="user_reg_username" placeholder="" name="name" class="form-control input-top lang" autofocus>
	<input type="password" id="user_reg_pass1" placeholder="" name="password1" class="form-control input-middle lang">
	<input type="password" id="user_reg_pass2" placeholder="" name="password2" class="form-control input-bottom lang">
	<button type="button" id="registration_ctrl" class="btn btn-primary btn-block"><font id="user_reg_new_btn" class="lang"></font></button>
	<button type="button" id="login_ctrl" class="btn btn-link btn-block"><font id="user_reg_back_btn" class="lang"></font></button>
	</form>
</div>